<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class = "bg">
        <ul class="nav">
                <li class="nav"><a href="{{url_for('showMainPage')}}">Home</a></li>
                {% if loginstate == None %}
                <li class="nav" style="float: right;"><a href="{{url_for('logIn')}}">Login</a></li>
                {% elif loginstate != None %}
                <li class="nav" style="float: right;"><a href="{{url_for('gdisconnect')}}">Logout</a></li>
                {% endif %}
        </ul>
        <div class="content">
            Game name: </br>
            </br>
            {{ name }} </br>
            </br>
            Description: </br>
            </br>
            {{ description }} </br>
            </br>
            <form action="{{url_for('editSelectedItem', game_id = id )}}"><input type="submit" value="Edit"></form>
            <form action="{{url_for('deleteSelectedGame', game_id = id)}}"><input type="submit" value="Delete"></form>
        </div>
    </body>
</html>
