<!DOCTYPE html>
<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body class="bg">  
    <ul class="nav">
        <li class="nav"><a href="{{url_for('showMainPage')}}">Home</a></li>
        {% if loginstate == None %}
        <li class="nav" style="float: right;"><a href="{{url_for('logIn')}}">Login</a></li>
        {% elif loginstate != None %}
        <li class="nav" style="float: right;"><a href="{{url_for('gdisconnect')}}">Logout</a></li>
        {% endif %}
    </ul>
  
<!-- Google Sign In -->

          <div style="display: table; margin: 0 auto; margin-top: 50px">Choose provider to log in</div>
          <div style = "display: table; margin: 0 auto; margin-top: 100px" id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="242881246685-staugoefo5fu5vuijaie6eucgmdorec3.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
          </div>

<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide google's button
    $('#signinButton').attr('style', 'display: none');
    // Send one-time use code and if it's ok then return to main page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // This code depending result of ajax call will show what gconnect endpoint returns in output or error which occured
        if (result) {
          $('#result').html('<div style="display:table; margin: 0 auto">' + result + '</br></br></br>Redirecting...</div>')
         setTimeout(function() {
          location.href = "/";
         }, 4000);
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }
</script>

  </body>

</html>
