<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
            <ul class="nav">
                    <li class="nav"><a href="{{url_for('showMainPage')}}">Home</a></li>
                    {% if loginstate == None %}
                    <li class="nav" style="float: right;"><a href="{{url_for('logIn')}}">Login</a></li>
                    {% elif loginstate != None %}
                    <li class="nav" style="float: right;"><a href="{{url_for('gdisconnect')}}">Logout</a></li>
                    {% endif %}
                </ul>
        No permission to content
    </body>
</html>

